<div class="layout-row wrap" data-test-id="blog-posts">
<!--  Used for blog item rendering -->
<!--  <div class="flex-25">-->
<!--    <article class="card blog-post-item" [attr.data-test-id]="'blog-item-' + index">-->
<!--      <img [src]="blogPost.image" class="card-image" alt=""/>-->
<!--      <div class="blog-post-item-overlay"></div>-->
<!--      <div class="blog-post-item-content pb-20">-->
<!--        <p class="blog-title px-16" data-test-id="blog-title">{{blogPost.title}}</p>-->
<!--        <section class="layout-row justify-content-between align-items-center blog-meta px-16">-->
<!--          <div class="layout-row justify-content-between align-items-center author-section">-->
<!--            <img src="/assets/images/logo.svg" class="author-avatar" alt=""/>-->
<!--            <section class="layout-column justify-content-between align-items-start ml-12">-->
<!--              <p class="author-name text-capitalize font-weight-medium">{{blogPost.author}}</p>-->
<!--              <p class="post-comments font-weight-light my-4">Comments : {{blogPost.num_comments}}</p>-->
<!--            </section>-->
<!--          </div>-->
<!--          <span class="blog-date font-weight-light">{{blogPost.created_at | date : 'mediumDate'}}</span>-->
<!--        </section>-->
<!--      </div>-->
<!--    </article>-->
<!--  </div>-->

</div>
